.css-demo-wrapper {
  display: flex;
  height: 400px;
  justify-content: space-around;
  transition: 0.5s;
}

.options-wrapper {
  overflow: auto;
  width: 40%;
  border: 2px var(--color-primary) solid;
  padding: 5%;
  .options {
    width: 80%;
    min-height: 48px;
    margin: 5% auto;
    padding: 12px 2%;
    font-size: var(--font-vnm);
    border: 2px var(--color-primary) solid;
    transition: 0.5s;
    &[data-active='true'] {
      background-color: var(--color-success-light);
      color: #fff;
    }
  }
}

.demo-exposer {
  padding: 2%;
  width: 55%;
  overflow: auto;
  border: 2px var(--color-primary) solid;
  transition: 0.5s;
  * {
    transition: 0.5s;
  }
}
