.mask-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100%;
  padding: 20px;
}

.mask-bg {
  position: absolute;
  width: inherit;
  height: inherit;
  inset: 0;
  background-color: var(--color-bg);
}

.mask-hidden {
  transition: 1s 0.4s;
  opacity: 0;
  pointer-events: none;
}

.mask-show {
  opacity: 1;
  transition: 1s;
}

.mask-menu {
  transition: 0.5s;
  color: var(--color-font);
  margin-bottom: 20px;
  hr {
    margin: 0;
  }
}

.mask-category,
.mask-item {
  transition: 0.1s transform;
}

.mask-category {
  font-size: var(--font-hg);
  font-weight: bold;
}

.mask-item {
  font-size: var(--font-lg);
  margin-left: 1em;
  font-weight: bold;
}

.menu-container {
  overflow-y: auto;
  height: 70%;
}

.btn-group {
  height: 20%;
  z-index: 2;
}
