@keyframes oscillate {
  from {
    transform: translateY(8px);
  }
  to {
    transform: translateY(-8px);
  }
}

.column {
  flex: 1;
  background: linear-gradient(
    to bottom,
    hsl(200deg 85% 70%) 0%,
    hsl(200deg 85% 70%) 20%,
    hsl(350deg 85% 85%) 20%,
    hsl(350deg 85% 85%) 40%,
    hsl(0, 39%, 54%) 40%,
    hsl(0, 43%, 71%) 60%,
    hsl(350deg 85% 85%) 60%,
    hsl(350deg 85% 85%) 80%,
    hsl(200deg 85% 70%) 80%,
    hsl(200deg 85% 70%) 100%
  );
  animation: oscillate 500ms infinite alternate ease-in-out backwards;
}

.flag {
  display: flex;
  height: 500px;
  width: 500px;
  aspect-ratio: 3 / 2;
}

.PrideDayFlagDemo {
  height: 800px;
}

.input-group {
  height: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}
