.layout-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  scrollbar-gutter: stable;
  .layout {
    flex: 1;
    min-height: 100%;
  }
}

.main-container {
  flex: 1;
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  padding: 40px 80px 0 80px;
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.home {
  position: relative;
}

.ant-menu-title-content {
  user-select: none !important;
}
