.flex-box {
  display: flex;
  height: 400px;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--color-border);
  overflow: hidden;
}

.flex-section-axis-one,
.flex-section-axis-two,
.flex-section-axis-three {
  position: relative;
  text-align: center;
  line-height: 120px;
  height: 120px;
}

.flex-section-axis-one {
  background-color: rgba(#f1c40f, 0.5);
  align-self: flex-start;
}

.flex-section-axis-two {
  background-color: rgba($color: #3498db, $alpha: 0.5);
  align-self: center;
}

.flex-section-axis-three {
  background-color: rgba($color: #9b59b6, $alpha: 0.5);
  align-self: flex-end;
}

.grid-demo {
  width: 100%;
  max-width: 350px;
  margin: 64px auto;
}

.grid-demo[data-perspective='true'] {
  .grid-box-container-perspective {
    transform: translateX(10%) skewY(18deg) scaleX(0.85);
    .grid-item {
      background-color: var(--color-primary-300);
    }
  }

  .grid-box-container {
    transform: translateX(-10%) skewY(18deg) scaleX(0.85);
    .grid-item {
      margin-block: 2px;
      background-color: var(--color-primary-500);
    }
  }
}

.grid-box-container-perspective {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  .grid-item {
    background-color: var(--color-primary);
    &:not(:last-of-type) {
      border-bottom: 2px dashed var(--color-f-unhover);
    }
  }
}

.grid-box-container {
  transition: 0.5s;
  .grid-box {
    row-gap: 2px;
    height: 100%;
  }
  .grid-item {
    background-color: var(--color-primary);
    border: 2px solid;
  }
}

.grid-box {
  display: grid;
  width: 100%;
  height: 100%;

  padding: 2px;
  .grid-item {
    position: relative;
    display: flex;
    padding: 2px;
    height: 56px;
    color: #fff;
    border-radius: 4px;
    transition: 0.5s;
  }
}

.perspective-switch[aria-checked='false'] {
  background-color: var(--color-primary-500) !important;
}
