.container {
  --icon-size: 32px;
  display: flex;
  height: 100vh;
  .sider {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 256px;
    background-color: #001529;
    .sider-logo {
      min-height: 50px;
      padding: 20px 15px;
      margin: 25px 0;
      background-image: url('@imgs/logo.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .sider-footer {
      position: absolute;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: inherit;
      height: 75px;
      bottom: 0;
      background-color: #002445;
    }
    .sider-icon {
      font-size: var(--icon-size);
      height: var(--icon-size);
      color: #ffffff;
      transition: 0.5s;
      &:hover {
        color: #528eb6;
        transition: 0.5s;
      }
    }
  }
  .main {
    flex: 1;
  }
}
