.pre {
  position: relative;
  .copy-btn {
    position: absolute;
    color: #c9d1d9;
    right: 1rem;
    top: 10px;
    font-size: var(--font-lg);
    transition: 0.5s;
    &:hover {
      color: rgb(116, 116, 116);
    }
  }
  code {
    display: block;
  }
}

.mark {
  display: inline-block;
  padding: 2px 0.2rem;
  background-color: rgb(237, 237, 164);
}
